<a href="https://colab.research.google.com/github/naba-nn/Class-Assignment-1---Getting-Started-with-Python-Programming/blob/master/ASSIGNMENT_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question 2

In [ ]:
Name ="Nafeesa Naba"
Address ="Udma, Kasaragod"
Phone ="9188576646"
print("Name:"+Name+"\n","Address:"+Address+"\n", "Phone:"+Phone)

Name:Nafeesa Naba
 Address:Udma, Kasaragod
 Phone:9188576646

Question 3

In [ ]:
print("Your Name is",Name)
Name="Nafeesa Naba"

Your Name is Nafeesa Naba

Question 4

In [ ]:
#area of a rectangle
Width = float(input("Enter the width: "))
Height= float(input("Enter the height: "))
area = Width*Height
print("The area is", area, "square units")

Enter the width: 2
Enter the height: 4
The area is 8.0 square units

Question 5

In [31]:
#area of a triangle 
Base = float(input("Enter the width:"))
Height = float(input("Enter the height:"))
area=0.5*Base*Height 
print("The area of the triangle is",area, "square units")

Enter the width:4
Enter the height:6
The area of the triangle is 12.0 square units

Question 6

In [32]:
#area of a circle
radius = float(input("Enter the radius: "))
area = 3.14*radius**2
print("The area of the circle is", area, "square units")

Enter the radius: 30
The area of the circle is 2826.0 square units

Question 7

In [34]:
Name = input("Enter your name : ")
Age = input("Enter your age: ")
print("My name is "+Name+" and I am "+Age+" years old")

Enter your name : Nafeesa Naba
Enter your age: 19
My name is Nafeesa Naba and I am 19 years old

Question 8

In [35]:
a = int(input("Enter a number: "))
a=a+1
print(a)

Enter a number: 8
9

Question 9

In [36]:
Name =input("Enter your first name: ")
print(Name)

Enter your first name: Nafeesa
Nafeesa

In [37]:
input("Enter your first name: ")

Enter your first name: Nafeesa

'Nafeesa'